<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VanillaJS To Do</title>
  <link href="../css/reset.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>
<body style="visibility: hidden;" onload="jsLoad()">
  {{{body}}}
  <script src="../js/index.js" charset="utf-8"></script>
</body>
</html>
