 <h1>VanillaJS To Do</h1>
   <form action="/" method="post">
     <input id="todo-input" type="text" name="todoText" placeholder="Get shit done..." value="">
     <button id="todo-button" type="submit" name="todo-button">+</button>
   </form>

 <section>
   <ul id="todo-list">
     {{#if todos}}
       {{#each todos}}
         <li>
           <p>{{{ this.text }}}</p>
         </li>
       {{/each}} 
    {{/if}}
  </ul>
 </section>
